* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: auto 490px;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    line-height: 1.5;
}

h1, h2 {
    color: hsl(223, 47%, 23%)
}

.cardContentSummary h1 {
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 15px;
}

.cardContentSummary p {
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cardContentSummary {
    margin-bottom: 25px;
}

.card {
    background-color: white;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 15px 20px hsl(224, 23%, 55%);
}

.cardContent {
    text-align: center;
    padding: 30px;
}

.cardPlan {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 30px;
    height: 75px;
}

.cardPlanIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.planIconImage {
    width: 40px;
}

.cardPlan h2 {
    font-weight: 700;
    font-size: 16px;
}

.cardPlan p {
    font-weight: 500;
    font-size: 11px;
    color: hsl(224, 23%, 55%);
}

.cardPlanTypeCost {
    text-align: left;
    width: 100%;
}

.cardPlanChange a {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 14px;
}

.cardButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroImage {
    width: 100%;
    border-radius: 15px 15px 0 0;
    /* height is weird, there's a gap at the bottom of the div ?!?! */
}
